p {
    font: 15px sans-serif;
    margin-left: 75px;
}

/* Change size of the axe's text */
.axis text {
  font: 15px sans-serif;
}

/* Style settings of the axe lines */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
         fill: none;
         stroke: steelblue;
         stroke-width: 2px;
       }

.overlay {
            fill: none;
            stroke: none;
            pointer-events: all;
        }

.focusLine {
    fill: none;
    stroke: LightCoral  ;
    stroke-width: 1px;
}

.focusCircle {
    fill: red;
}



#infoLely {
      fill: black;
      font: 15px sans-serif;
    }

#infoMaas {
      fill: black;
      font: 15px sans-serif;
    }

#dateText {
      fill: black;
      font: 15px sans-serif;
    }

#title {
    fill: black;
    font: 20px sans-serif;
}
