/*
Dataprocessing
Week 4: Scatterplot

Creating a scatterplot to visualize a dataset

Tiny Le
11130717
*/

/* Change all non scatterplot text  */
p {
    font: 15px sans-serif;
    margin-left: 75px;
}


/* Change title of scatterplot */
text {
  fill: black;
  font: 1px sans-serif;
  text-anchor: middle;
}

/* Change legend font */
.legend text{
    font: 15px sans-serif;
}

/* Change size of the axe's text */
.axis text {
  font: 15px sans-serif;
}

/* Style settings of the axe lines */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
